
@{
    ViewBag.Title = "_LayoutIndex";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Bundle/sass")

    @Scripts.Render("~/bundles/script")

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wow Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/script.baf0e655.css">
</head>
<body class="body-index">
    @RenderBody()
</body>



</html>

