.d-none {
    display: none;
}

.body-donjons {
    background-color: rgb(4, 3, 3);
    color: white;
    margin: 0;
    padding: 0;

    main {
        width: 98%;
        margin: 20px 1%;
        background-color: rgb(17, 17, 17);
        border: 1px solid rgb(46, 45, 45);
        padding: 50px 100px;
        position: relative;
        height: 2000px;

        .section-filter {
            margin-bottom: 30px;

            .btn-filter {
                align-items: center;
                margin-right: 30px;
                height: 30px;
            }

            span,
            img {
                margin: 0 5px;
            }

            .filters {
                span {
                    font-size: 14px;
                }

                option,
                select {
                    font-size: 12px;
                    width: 150px;
                    margin: 10px 20px;
                    border: 1px solid rgb(112, 112, 112);
                    background-color: rgb(50, 50, 50);
                    border-radius: 5px;
                    padding: 3px 6px;
                }
            }

            .butins-select {
                position: relative;
                padding-right: 50px;
            }

            .search-filter {
                position: absolute;
                bottom: 0px;
                right: 5px;
                width: 33px;
                margin: 10px 20px;
                border: 1px solid rgb(112, 112, 112);
                background-color: rgb(50, 50, 50);
                border-radius: 5px;
                padding: 7px 10px;
                transition: all 0.5s;

                &:hover {
                    background-color: rgb(102, 101, 101);
                }
            }
        }

        .refresh {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 50px;
            color: rgb(46, 45, 45);
        }



        .donjon {
            width: 300px;
            height: 200px;
            margin: 20px 10px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            opacity: 0.5;
            transition: all 1s;

            &:hover {
                opacity: 1;

                .modal-donjon {
                    opacity: 1;
                }

                .type-inst {
                    opacity: 1;
                }
            }

            .modal-donjon {
                opacity: 0;
                width: 100%;
                padding: 10px 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba($color: #000000, $alpha: 0.4);
                text-align: center;
            }

            .type-inst {
                font-size: 12px;
                padding-bottom: 5px;
                // position: absolute;
                // top: 5px;
                // right: 5px;
                opacity: 0;
                border-bottom: 1px solid white;
                margin-bottom: 10px;
            }
        }
    }
}
